<template>
  <i-container align="center">
    <div class="toggle _margin-top-2">
      <i-button @click="darkMode" size="sm">Dark mode</i-button>
    </div>
          <h2>Anime Search</h2>
          <div class="search _margin-x-auto" style="width: 60vw">
            <i-input v-model="query" @keyup.enter.prevent="onSubmit" clearable placeholder="Anime name"/>
          </div>
          <span v-if="emptyInput">Please enter anime name</span>
          <div v-if="loading" class="_margin-x-auto">
            <i-loader color="primary"/>
          </div>
          <div v-if="animeList.length > 0" class="_margin-top-2">
            <i-row center>
              <i-column v-for="(anime, index) in animeList" :key="index" xs="6" sm="4" md="3">
               <a :href="anime.url" target="_blank">
                 <i-card class="_margin-y-1">
                  <template slot="image">
                    <img :src="anime.images.jpg.image_url" :alt="anime.title" class="image -responsive">
                  </template>
                  <h5 class="card-title">
                    {{anime.title_english || anime.title}}
                  </h5>
                </i-card>
              </a>
              </i-column>
            </i-row>
          </div>
  </i-container>
</template>

<script>
export default{
  data:()=>({
    query:"",
    animeList:[],
    loading: false,
    emptyInput: false
  }),
    methods: {
    onSubmit() {
      if (this.query != "") {
        this.loading = true;
        fetch(`https://api.jikan.moe/v4/anime?q=${this.query}&limit=40`)
          .then((res) => res.json())
          .then((data) => {
            this.animeList = data.data;
            console.log(this.animeList);
          });
      } else {
        this.emptyInput = true
      }
      this.loading = false;
    },
    darkMode() {
      this.$inkline.config.variant =
        this.$inkline.config.variant === "light" ? "dark" : "light";
    },
  },
}
</script>

<style scoped>
</style>